.header-main {
  font-size: xx-large;
  font-weight: 900;
}
.header-sub {
  font-size: x-large;
  font-weight: 300;
  max-width: 450px;
  padding: 10px 10px 20px 0px;
}

.profile-img {
  width: 200px;
}
.profile-img-notification {
  width: 100px;
  border-radius: 100px;
  margin: 10px 20px -20px 0px;
}

.header-two {
  font-size: larger;
  margin-bottom: 5px;
}

.header-main-two {
  color: white;
}

.body-text-two {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.body-text-three {
  font-size: 16px;
  padding: 5px 0px 20px 0px;
  margin: 0;
  color: gray;
}

.body-text-four {
  height: 20px;
  padding-top: 30px;
}

.notification-card-body {
  display: flex;
  justify-content: flex-start;
}
